
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">VideoClub Pichi</h1>
</div>

<div>
    <img src="~/img/horror.jpg" class="img-fluid" alt="Responsive image" style="width:auto;">
</div>

